body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #f37021;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}

.poke-logo {
  width: 200px;

}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error-message {
  color: #d32f2f;
  font-weight: bold;
}

#searchInput {

  padding: 8px;
  margin: 0 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#searchBtn, #prevBtn, #nextBtn, #resetBtn {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn {
  background-color: #4caf50;
  color: white;
}

#prevBtn, #nextBtn, #resetBtn {
  background-color: #2196F3;
  color: white;
}

#searchBtn:hover, #prevBtn:hover, #nextBtn:hover, #resetBtn:hover {
  opacity: 0.8;
}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

/* no seleccionamos pokemon y aparecen todos */
  .imagen-pokemon {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }

  /* nombre del pokemon que aparece debajo de su imagen */
  .nombre-pokemon {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }

/* seleccionamos pokemon y aparece el seleccionado */
  .pokemon-card {
    /* estilos para cada tarjeta de pokemon */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;
    /* fondo bonito y suave para la card */
    background-color: #f8f9fa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .imagen-pokemon-card {
    /* una sola imagen de un pokemon dentro de un div */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
  }

  /* .nombre-pokemon-card {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #333;
    font-weight: bold;
  } */